<!doctype html>
<html lang="zxx">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/animate.min.css">

<link rel="stylesheet" href="assets/fonts/flaticon.css">

<link rel="stylesheet" href="assets/css/boxicons.min.css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/nice-select.min.css">

<link rel="stylesheet" href="assets/css/meanmenu.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<link rel="icon" type="image/png" href="assets/images/favicon.png">
<title>Hilo - 注册</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
	src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript">
	function checkForm(){
		// 校验用户名:
		
		// 校验密码:
		
		// 校验确认密码
		
		//校验邮箱
		return false;
	}
	
	//校验用户名是否存在
	function checkUserName(){
		// ajax 验证用户名是否存在
	}
	function changeImg(){
		// 更新验证码
	}
</script>
</head>
<body>

<div class="preloader">
<div class="d-table">
<div class="d-table-cell">
<img src="assets/images/preloder-img.png" alt="Images">
<h2>Hilo</h2>
</div>
</div>
</div>


<div class="navbar-area">

<div class="mobile-nav">
<a href="index.html" class="logo">
<img src="assets/images/logos/logo-1.png" alt="Logo">
</a>
</div>

<div class="main-nav nav-three">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light ">
<a class="navbar-brand" href="index.html">
<img src="assets/images/logos/logo-2.png" alt="Logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link active">
                                     	  主页 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="shop-left-sidebar.html" class="nav-link">
                                        	商品
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog-2.html" class="nav-link">
                                        	博客
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="customer-services.html" class="nav-link">
                                        	 客户服务
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                       	 其他 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                	常见问题
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">
                                                	团队人物介绍
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                	客户感言
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                	订阅我们
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
<div class="nav-bar-side-2">
<div class="language-list">
<div class="dropdown language-list-dropdown">
<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Language
<i class='bx bx-chevron-down'></i>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<a class="dropdown-item" href="#">
<img src="assets/images/language-flag/eng.png" alt="Images">
English
</a>
<a href="#">
<img src="assets/images/language-flag/arabic.png" alt="Images">
اللغة العربية
</a>
<a href="#">
<img src="assets/images/language-flag/germany.png" alt="Images">
Deutsch
</a>
<a href="#">
<img src="assets/images/language-flag/portugal.png" alt="Images">
Português
</a>
<a href="#">
<img src="assets/images/language-flag/china.png" alt="Images">
普通話
</a>
</div>
</div>
</div>
<div class="side-nav-cart">
<a href="cart.html"><i class='bx bx-cart'></i></a>
<span>1</span>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="side-nav-responsive">
<div class="container">
<div class="dot-menu">
<div class="circle-inner">
<div class="circle circle-one"></div>
<div class="circle circle-two"></div>
<div class="circle circle-three"></div>
</div>
</div>
<div class="container-3">
<div class="side-nav-inner">
<div class="side-nav justify-content-center align-items-center">
<div class="side-nav-item">
<div class="language-list">
<div class="dropdown language-list-dropdown">
<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Language
<i class='bx bx-chevron-down'></i>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
<a class="dropdown-item" href="#">
<img src="assets/images/language-flag/eng.png" alt="Images">
English
</a>
<a href="#">
<img src="assets/images/language-flag/arabic.png" alt="Images">
اللغة العربية
 </a>
<a href="#">
<img src="assets/images/language-flag/germany.png" alt="Images">
Deutsch
</a>
<a href="#">
<img src="assets/images/language-flag/portugal.png" alt="Images">
Português
</a>
<a href="#">
<img src="assets/images/language-flag/china.png" alt="Images">
普通話
</a>
</div>
</div>
</div>
<div class="side-nav-cart">
<a href="#"><i class='bx bx-cart'></i></a>
<span>1</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="inner-banner-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 col-md-4">
<div class="inner-content">
<h2>注册</h2>
<ul>
<li><a href="index.html">主页</a></li>
<li>注册</li>
</ul>
</div>
</div>
<div class="col-lg-7 col-md-8">
<div class="inner-img">
<img src="assets/images/inner-banner/inner-banner5.png" alt="Images">
</div>
</div>
</div>
</div>
</div>


<div class="user-area pt-100 pb-70">
<div class="container">
<div class="user-width">
<div class="user-form">
<div class="contact-form">
<h2>注册</h2>
<form>
<div id="app1" class="row">

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>用户名:
<input type="text" class="form-control" required data-error="Please enter your Username" 
placeholder="Enter Your Username" v-model="user.username">
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>密码:
<input type="text" class="form-control" required data-error="Please enter your Password" 
placeholder="Enter Your Password" v-model="user.password">
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>确认密码:
<input type="text" class="form-control" required data-error="Please enter your Repassword" 
placeholder="Enter Your Repassword" >
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>姓名:
<input type="text" class="form-control" required data-error="Please enter your Name" 
placeholder="Enter Your Name" v-model="user.name">
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>邮箱:
<input type="email" class="form-control" required data-error="Please enter your Email" 
placeholder="Enter Your Email" v-model="user.email">
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>电话:
<input type="phone" class="form-control" required data-error="Please enter your Phone" 
placeholder="Enter Your Phone" v-model="user.phone">
</div>
</div>

<div class="col-lg-12 ">
<div class="form-group">
<span class="requiredField">*</span>验证码:
<input type="vcode" class="form-control" required data-error="Please enter your Vcode" 
placeholder="Enter Your Vcode" v-model="vcode">
<img id="captchaImage" class="captchaImage" 
:src="imgsrc" height="25px;"
title="点击更换验证码" @click="changeImg()">
</div>
</div>

<div class="col-lg-12 ">
<button @click="reg()" type="button" class="default-btn btn-bg-three">

注册

</button>
</div>

</div>
 <script type="text/javascript">
 var vue=new Vue({
	 el:"#app1",
	 data:{
		 user:{
			 username:"",
			 password:"",
			 name:"",
			 email:"",
			 phone:"",
			 
		 },
		 vcode:"",
	     imgsrc:"verifyCode.s?a="
	  
	 },
	 methods:{
			changeImg(){
				this.imgsrc += new Date();
			},
			reg(){
				var params = new URLSearchParams();
				params.append("username",this.user.username);
				params.append("password",this.user.password);
				params.append("name",this.user.name);
				params.append("email",this.user.email);
				params.append("phone",this.user.phone);
				params.append("vcode",this.vcode);
				axios.post("reg.s",params).then(res=>{
					alert(res.data.msg);
					if(res.data.code == 1){
						location.href="log-in.html";
					}
				}).catch(error=>{
					alert("系统错误，请联系管理员");
				})
			}
	 }
 })
 
 </script>

</form>
</div>
</div>
</div>
</div>
</div>


<footer class="footer-area footer-bg">
<div class="container">
<div class="footer-top pt-100 pb-70">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="footer-widget footer-widget-color-2">
<div class="footer-logo">
<a href="index.html">
<img src="assets/images/logos/footer-logo.png" alt="Images">
</a>
</div>
<p>
We are one of the best & quality full in market. Let's join.
</p>
<ul class="footer-list-contact">
<li>
<i class='bx bx-home'></i>
<a href="#">Virgil A Stanton, Virginia, USA</a>
</li>
<li>
<i class='bx bx-phone-call'></i>
<a href="tel:+1(123)-456-7890">+1 (123) 456 7890</a>
</li>
<li>
<i class='bx bx-envelope'></i>
<a href="/cdn-cgi/l/email-protection#9bf3fef7f7f4dbf3f2f7f4b5f8f4f6"><span class="__cf_email__" data-cfemail="59313c3535361931303536773a3634">[email&#160;protected]</span></a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="footer-widget footer-widget-color-2">
<h3>Services</h3>
<ul class="footer-list">
<li>
<a href="wordpress-hosting.html" target="_blank">
My Account
</a>
</li>
<li>
<a href="tracking-order.html" target="_blank">
Tracking Order
</a>
</li>
<li>
<a href="customer-services.html" target="_blank">
Customer Services
</a>
</li>
<li>
<a href="compare.html" target="_blank">
Compare
</a>
</li>
<li>
<a href="wishlist.html" target="_blank">
Wishlist
</a>
</li>
<li>
<a href="privacy-policy.html" target="_blank">
Privacy Policy
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="footer-widget footer-widget-color-2">
<h3>Information</h3>
<ul class="footer-list">
<li>
<a href="index.html" target="_blank">
Home
</a>
</li>
<li>
<a href="about.html" target="_blank">
About Us
</a>
</li>
<li>
<a href="blog-details.html" target="_blank">
Blog Details
</a>
</li>
<li>
<a href="shop-details.html" target="_blank">
Shop Details
</a>
</li>
<li>
<a href="testimonials.html" target="_blank">
Testimonials
</a>
</li>
<li>
<a href="team.html" target="_blank">
Team
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="footer-widget footer-widget-color-2">
<h3>Follow Us</h3>
<p>We are one of the best & quality full in market. Let's join.</p>
<form class="footer-form-area">
<input type="email" class="form-control" placeholder="Email">
<button class="subscribe-btn" type="submit">
<i class='bx bx-paper-plane'></i>
</button>
</form>
<ul class="social-link">
<li>
<a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="copy-right-area-three">
<div class="copy-right-text">
<p>
Copyright @2020 Hilo. All Rights Reserved by
<a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
</p>
</div>
</div>
</div>
</footer>


<script src="assets/js/jquery-3.5.1.slim.min.js"></script>

<script src="assets/js/popper.min.js"></script>

<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/wow.min.js"></script>

<script src="assets/js/meanmenu.js"></script>

<script src="assets/js/jquery-ui.min.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/mixitup.min.js"></script>

<script src="assets/js/custom.js"></script>
</body>
</html>